<template>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <router-link class="navbar-brand" to="/">QLOCK</router-link>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://bitbucket.org/shama265/qlock-sprite" target="_blank">Usage</a>
        </li>      
        <li class="nav-item">
          <router-link class="nav-link" to="/config" active-class="active">Config</router-link>
        </li>      
        <li class="nav-item">
          <router-link class="nav-link" to="/delete" active-class="active">Delete</router-link>
        </li>      
      </ul>
    </div>

  </nav>
</template>

<script>
</script>

<style>
</style>
